<%= form_for(@jar_file, :multipart => true) do |f| %>
  <% if @jar_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jar_file.errors.count, "error") %> prohibited this jar_file from being saved:</h2>

      <ul>
      <% @jar_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.file_field :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
