<h1>Listing jar_files</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jar_files.each do |jar_file| %>
  <tr>
    <td><%= jar_file.name %></td>
    <td><%= link_to 'Show', jar_file %></td>
    <td><%= link_to 'Edit', edit_jar_file_path(jar_file) %></td>
    <td><%= link_to 'Destroy', jar_file, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jar file', new_jar_file_path %>
