%h2= @bundled_java_class.canonical_name

- if @bundled_java_class.class_reflector.superclass.present?
  %strong
    Rodič: #{link_to_class @bundled_java_class.class_reflector.superclass.to_s}

= feature_list :inner_classes, "Vnořené třídy"
= feature_list :interfaces, "Implementovaná rozhraní", interfaces_with_links
= feature_list :declared_fields, "Atributy"
= feature_list :constructors, "Konstruktory"
= feature_list :instance_methods, "Veřejné metody"
= feature_list :class_methods, "Veřejné třídní metody"
= feature_list :inherited_instance_methods, "Zděděné metody"
= feature_list :inherited_class_methods, "Zděděné třídní metody"
